@model dynamic

@{
ViewBag.Title = "title";
Layout = "_Layout";
}
<div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row mb-6 g-6">
            <div class="col-md-6">
                <div class="card h-100">
                    <div class="card-body row widget-separator g-0">
                        <div class="col-sm-5 border-shift border-end pe-sm-6">
                            <h3 class="text-primary d-flex align-items-center gap-2 mb-2">4.89<i
                                    class="bx bxs-star icon-30px"></i></h3>
                            <p class="h6 mb-2">Total 187 reviews</p>
                            <p class="pe-2 mb-2">All reviews are from genuine customers</p>
                            <span class="badge bg-label-primary mb-4 mb-sm-0">+5 This week</span>
                            <hr class="d-sm-none">
                        </div>

                        <div
                            class="col-sm-7 gap-2 text-nowrap d-flex flex-column justify-content-between ps-sm-6 pt-2 py-sm-2">
                            <div class="d-flex align-items-center gap-2">
                                <small>5 Star</small>
                                <div class="progress w-100 bg-label-primary" style="height:8px;">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 85%"
                                         aria-valuenow="61.50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <small class="w-px-20 text-end">124</small>
                            </div>
                            <div class="d-flex align-items-center gap-2">
                                <small>4 Star</small>
                                <div class="progress w-100 bg-label-primary" style="height:8px;">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 50%"
                                         aria-valuenow="24" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <small class="w-px-20 text-end">40</small>
                            </div>
                            <div class="d-flex align-items-center gap-2">
                                <small>3 Star</small>
                                <div class="progress w-100 bg-label-primary" style="height:8px;">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 35%"
                                         aria-valuenow="12" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <small class="w-px-20 text-end">12</small>
                            </div>
                            <div class="d-flex align-items-center gap-2">
                                <small>2 Star</small>
                                <div class="progress w-100 bg-label-primary" style="height:8px;">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 18%"
                                         aria-valuenow="7" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <small class="w-px-20 text-end">7</small>
                            </div>
                            <div class="d-flex align-items-center gap-2">
                                <small>1 Star</small>
                                <div class="progress w-100 bg-label-primary" style="height:8px;">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 10%"
                                         aria-valuenow="2" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <small class="w-px-20 text-end">2</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card h-100">
                    <div class="card-body row">
                        <div class="col-sm-5">
                            <div class="mb-12">
                                <h5 class="mb-2 text-nowrap">Reviews statistics</h5>
                                <p class="mb-0"><span class="me-2">12 New reviews</span> <span
                                        class="badge bg-label-success">+8.4%</span></p>
                            </div>

                            <div>
                                <h6 class="mb-2 fw-normal"><span class="text-success me-1">87%</span>Positive reviews
                                </h6>
                                <small>Weekly Report</small>
                            </div>
                        </div>
                        <div class="col-sm-7 d-flex justify-content-sm-end align-items-end">
                            <div id="reviewsChart" style="min-height: 175px;" class="">
                                <div id="apexchartsofgo1hvp"
                                     class="apexcharts-canvas apexchartsofgo1hvp apexcharts-theme-"
                                     style="width: 190px; height: 160px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" class="apexcharts-svg"
                                         xmlns:data="ApexChartsNS" transform="translate(0, 0)" width="190" height="160">
                                        <foreignObject x="0" y="0" width="190" height="160">
                                            <div class="apexcharts-legend" xmlns="http://www.w3.org/1999/xhtml"
                                                 style="max-height: 80px;"></div>
                                            <style type="text/css">
                                                .apexcharts-flip-y {
                                                    transform: scaleY(-1) translateY(-100%);
                                                    transform-origin: top;
                                                    transform-box: fill-box;
                                                }

                                                .apexcharts-flip-x {
                                                    transform: scaleX(-1);
                                                    transform-origin: center;
                                                    transform-box: fill-box;
                                                }

                                                .apexcharts-legend {
                                                    display: flex;
                                                    overflow: auto;
                                                    padding: 0 10px;
                                                }

                                                .apexcharts-legend.apexcharts-legend-group-horizontal {
                                                    flex-direction: column;
                                                }

                                                .apexcharts-legend-group {
                                                    display: flex;
                                                }

                                                .apexcharts-legend-group-vertical {
                                                    flex-direction: column-reverse;
                                                }

                                                .apexcharts-legend.apx-legend-position-bottom, .apexcharts-legend.apx-legend-position-top {
                                                    flex-wrap: wrap
                                                }

                                                .apexcharts-legend.apx-legend-position-right, .apexcharts-legend.apx-legend-position-left {
                                                    flex-direction: column;
                                                    bottom: 0;
                                                }

                                                .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-left, .apexcharts-legend.apx-legend-position-top.apexcharts-align-left, .apexcharts-legend.apx-legend-position-right, .apexcharts-legend.apx-legend-position-left {
                                                    justify-content: flex-start;
                                                    align-items: flex-start;
                                                }

                                                .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-center, .apexcharts-legend.apx-legend-position-top.apexcharts-align-center {
                                                    justify-content: center;
                                                    align-items: center;
                                                }

                                                .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-right, .apexcharts-legend.apx-legend-position-top.apexcharts-align-right {
                                                    justify-content: flex-end;
                                                    align-items: flex-end;
                                                }

                                                .apexcharts-legend-series {
                                                    cursor: pointer;
                                                    line-height: normal;
                                                    display: flex;
                                                    align-items: center;
                                                }

                                                .apexcharts-legend-text {
                                                    position: relative;
                                                    font-size: 14px;
                                                }

                                                .apexcharts-legend-text *, .apexcharts-legend-marker * {
                                                    pointer-events: none;
                                                }

                                                .apexcharts-legend-marker {
                                                    position: relative;
                                                    display: flex;
                                                    align-items: center;
                                                    justify-content: center;
                                                    cursor: pointer;
                                                    margin-right: 1px;
                                                }

                                                .apexcharts-legend-series.apexcharts-no-click {
                                                    cursor: auto;
                                                }

                                                .apexcharts-legend .apexcharts-hidden-zero-series, .apexcharts-legend .apexcharts-hidden-null-series {
                                                    display: none !important;
                                                }

                                                .apexcharts-inactive-legend {
                                                    opacity: 0.45;
                                                }

                                            </style>
                                        </foreignObject>
                                        <g class="apexcharts-datalabels-group" transform="translate(0, 0) scale(1)"></g>
                                        <g class="apexcharts-datalabels-group" transform="translate(0, 0) scale(1)"></g>
                                        <g class="apexcharts-yaxis" rel="0" transform="translate(-8, 0)">
                                            <g class="apexcharts-yaxis-texts-g"></g>
                                        </g>
                                        <g class="apexcharts-inner apexcharts-graphical" transform="translate(22, 5)">
                                            <defs>
                                                <linearGradient x1="0" y1="0" x2="0" y2="1"
                                                                id="SvgjsLinearGradient1028">
                                                    <stop stop-opacity="0.4" stop-color="rgba(216,227,240,0.4)"
                                                          offset="0"></stop>
                                                    <stop stop-opacity="0.5" stop-color="rgba(190,209,230,0.5)"
                                                          offset="1"></stop>
                                                    <stop stop-opacity="0.5" stop-color="rgba(190,209,230,0.5)"
                                                          offset="1"></stop>
                                                </linearGradient>
                                                <clipPath id="gridRectMaskofgo1hvp">
                                                    <rect width="158" height="127.72999999999999" x="0" y="0" rx="0"
                                                          ry="0" opacity="1" stroke-width="0" stroke="none"
                                                          stroke-dasharray="0" fill="#fff"></rect>
                                                </clipPath>
                                                <clipPath id="gridRectBarMaskofgo1hvp">
                                                    <rect width="162" height="131.73" x="-2" y="-2" rx="0" ry="0"
                                                          opacity="1" stroke-width="0" stroke="none"
                                                          stroke-dasharray="0" fill="#fff"></rect>
                                                </clipPath>
                                                <clipPath id="gridRectMarkerMaskofgo1hvp">
                                                    <rect width="158" height="127.72999999999999" x="0" y="0" rx="0"
                                                          ry="0" opacity="1" stroke-width="0" stroke="none"
                                                          stroke-dasharray="0" fill="#fff"></rect>
                                                </clipPath>
                                                <clipPath id="forecastMaskofgo1hvp"></clipPath>
                                                <clipPath id="nonForecastMaskofgo1hvp"></clipPath>
                                                <filter id="SvgjsFilter1030" filterUnits="userSpaceOnUse" width="200%"
                                                        height="200%" x="-50%" y="-50%">
                                                    <feColorMatrix id="SvgjsFeColorMatrix1029" result="brightness"
                                                                   in="SourceGraphic" type="matrix" values="
          2 0 0 0 0
          0 2 0 0 0
          0 0 2 0 0
          0 0 0 1 0
        "></feColorMatrix>
                                                </filter>
                                                <filter id="SvgjsFilter1032" filterUnits="userSpaceOnUse" width="200%"
                                                        height="200%" x="-50%" y="-50%">
                                                    <feColorMatrix id="SvgjsFeColorMatrix1031" result="brightness"
                                                                   in="SourceGraphic" type="matrix" values="
          2 0 0 0 0
          0 2 0 0 0
          0 0 2 0 0
          0 0 0 1 0
        "></feColorMatrix>
                                                </filter>
                                            </defs>
                                            <rect width="9.028571428571428" height="127.72999999999999"
                                                  x="51.42856794084822" y="0" rx="0" ry="0" opacity="1" stroke-width="0"
                                                  stroke="#b6b6b6" stroke-dasharray="3"
                                                  fill="url(#SvgjsLinearGradient1028)" class="apexcharts-xcrosshairs"
                                                  y2="127.72999999999999" filter="none" fill-opacity="0.9"
                                                  x1="51.42856794084822" x2="51.42856794084822"></rect>
                                            <g class="apexcharts-grid">
                                                <g class="apexcharts-gridlines-horizontal" style="display: none;">
                                                    <line x1="0" y1="0" x2="158" y2="0" stroke="#e0e0e0"
                                                          stroke-dasharray="0" stroke-linecap="butt"
                                                          class="apexcharts-gridline"></line>
                                                    <line x1="0" y1="63.864999999999995" x2="158"
                                                          y2="63.864999999999995" stroke="#e0e0e0" stroke-dasharray="0"
                                                          stroke-linecap="butt" class="apexcharts-gridline"></line>
                                                    <line x1="0" y1="127.72999999999999" x2="158"
                                                          y2="127.72999999999999" stroke="#e0e0e0" stroke-dasharray="0"
                                                          stroke-linecap="butt" class="apexcharts-gridline"></line>
                                                </g>
                                                <g class="apexcharts-gridlines-vertical" style="display: none;"></g>
                                                <line x1="0" y1="127.72999999999999" x2="158" y2="127.72999999999999"
                                                      stroke="transparent" stroke-dasharray="0"
                                                      stroke-linecap="butt"></line>
                                                <line x1="0" y1="1" x2="0" y2="127.72999999999999" stroke="transparent"
                                                      stroke-dasharray="0" stroke-linecap="butt"></line>
                                            </g>
                                            <g class="apexcharts-grid-borders" style="display: none;"></g>
                                            <g class="apexcharts-bar-series apexcharts-plot-series">
                                                <g class="apexcharts-series" rel="1" seriesName="series-1"
                                                   data:realIndex="0">
                                                    <path
                                                        d="M 6.771428571428572 122.731 L 6.771428571428572 107.185 C 6.771428571428572 104.685 9.271428571428572 102.185 11.771428571428572 102.185 L 11.771428571428572 102.185 C 13.785714285714286 102.185 15.8 104.685 15.8 107.185 L 15.8 122.731 C 15.8 125.231 13.3 127.731 10.8 127.731 L 10.8 127.731 C 8.785714285714286 127.731 6.771428571428572 125.231 6.771428571428572 122.731 Z "
                                                        fill="var(--bs-success-bg-subtle)" fill-opacity="1"
                                                        stroke="var(--bs-success-bg-subtle)" stroke-opacity="1"
                                                        stroke-linecap="round" stroke-width="0" stroke-dasharray="0"
                                                        class="apexcharts-bar-area undefined" index="0"
                                                        clip-path="url(#gridRectBarMaskofgo1hvp)"
                                                        pathTo="M 6.771428571428572 122.731 L 6.771428571428572 107.185 C 6.771428571428572 104.685 9.271428571428572 102.185 11.771428571428572 102.185 L 11.771428571428572 102.185 C 13.785714285714286 102.185 15.8 104.685 15.8 107.185 L 15.8 122.731 C 15.8 125.231 13.3 127.731 10.8 127.731 L 10.8 127.731 C 8.785714285714286 127.731 6.771428571428572 125.231 6.771428571428572 122.731 Z "
                                                        pathFrom="M 6.771428571428572 127.731 L 6.771428571428572 127.731 L 15.8 127.731 L 15.8 127.731 L 15.8 127.731 L 15.8 127.731 L 15.8 127.731 L 6.771428571428572 127.731 Z"
                                                        cy="102.184" cx="29.342857142857145" j="0" val="20"
                                                        barHeight="25.546" barWidth="9.028571428571428"></path>
                                                    <path
                                                        d="M 29.342857142857145 122.731 L 29.342857142857145 81.639 C 29.342857142857145 79.139 31.84285714285714 76.639 34.34285714285714 76.639 L 34.34285714285714 76.639 C 36.35714285714286 76.639 38.371428571428574 79.139 38.371428571428574 81.639 L 38.371428571428574 122.731 C 38.371428571428574 125.231 35.871428571428574 127.731 33.371428571428574 127.731 L 33.371428571428574 127.731 C 31.35714285714286 127.731 29.342857142857145 125.231 29.342857142857145 122.731 Z "
                                                        fill="var(--bs-success-bg-subtle)" fill-opacity="1"
                                                        stroke="var(--bs-success-bg-subtle)" stroke-opacity="1"
                                                        stroke-linecap="round" stroke-width="0" stroke-dasharray="0"
                                                        class="apexcharts-bar-area undefined" index="0"
                                                        clip-path="url(#gridRectBarMaskofgo1hvp)"
                                                        pathTo="M 29.342857142857145 122.731 L 29.342857142857145 81.639 C 29.342857142857145 79.139 31.84285714285714 76.639 34.34285714285714 76.639 L 34.34285714285714 76.639 C 36.35714285714286 76.639 38.371428571428574 79.139 38.371428571428574 81.639 L 38.371428571428574 122.731 C 38.371428571428574 125.231 35.871428571428574 127.731 33.371428571428574 127.731 L 33.371428571428574 127.731 C 31.35714285714286 127.731 29.342857142857145 125.231 29.342857142857145 122.731 Z "
                                                        pathFrom="M 29.342857142857145 127.731 L 29.342857142857145 127.731 L 38.371428571428574 127.731 L 38.371428571428574 127.731 L 38.371428571428574 127.731 L 38.371428571428574 127.731 L 38.371428571428574 127.731 L 29.342857142857145 127.731 Z"
                                                        cy="76.63799999999999" cx="51.91428571428572" j="1" val="40"
                                                        barHeight="51.092" barWidth="9.028571428571428"></path>
                                                    <path
                                                        d="M 51.91428571428572 122.731 L 51.91428571428572 56.09299999999998 C 51.91428571428572 53.59299999999998 54.41428571428572 51.09299999999998 56.91428571428572 51.09299999999998 L 56.91428571428572 51.09299999999998 C 58.92857142857143 51.09299999999998 60.94285714285715 53.59299999999998 60.94285714285715 56.09299999999998 L 60.94285714285715 122.731 C 60.94285714285715 125.231 58.44285714285715 127.731 55.94285714285715 127.731 L 55.94285714285715 127.731 C 53.92857142857143 127.731 51.91428571428572 125.231 51.91428571428572 122.731 Z "
                                                        fill="var(--bs-success-bg-subtle)" fill-opacity="1"
                                                        stroke="var(--bs-success-bg-subtle)" stroke-opacity="1"
                                                        stroke-linecap="round" stroke-width="0" stroke-dasharray="0"
                                                        class="apexcharts-bar-area undefined" index="0"
                                                        clip-path="url(#gridRectBarMaskofgo1hvp)"
                                                        pathTo="M 51.91428571428572 122.731 L 51.91428571428572 56.09299999999998 C 51.91428571428572 53.59299999999998 54.41428571428572 51.09299999999998 56.91428571428572 51.09299999999998 L 56.91428571428572 51.09299999999998 C 58.92857142857143 51.09299999999998 60.94285714285715 53.59299999999998 60.94285714285715 56.09299999999998 L 60.94285714285715 122.731 C 60.94285714285715 125.231 58.44285714285715 127.731 55.94285714285715 127.731 L 55.94285714285715 127.731 C 53.92857142857143 127.731 51.91428571428572 125.231 51.91428571428572 122.731 Z "
                                                        pathFrom="M 51.91428571428572 127.731 L 51.91428571428572 127.731 L 60.94285714285715 127.731 L 60.94285714285715 127.731 L 60.94285714285715 127.731 L 60.94285714285715 127.731 L 60.94285714285715 127.731 L 51.91428571428572 127.731 Z"
                                                        cy="51.091999999999985" cx="74.4857142857143" j="2" val="60"
                                                        barHeight="76.638" barWidth="9.028571428571428"></path>
                                                    <path
                                                        d="M 74.4857142857143 122.731 L 74.4857142857143 30.546999999999993 C 74.4857142857143 28.046999999999993 76.9857142857143 25.546999999999993 79.4857142857143 25.546999999999993 L 79.4857142857143 25.546999999999993 C 81.5 25.546999999999993 83.51428571428572 28.046999999999993 83.51428571428572 30.546999999999993 L 83.51428571428572 122.731 C 83.51428571428572 125.231 81.01428571428572 127.731 78.51428571428572 127.731 L 78.51428571428572 127.731 C 76.5 127.731 74.4857142857143 125.231 74.4857142857143 122.731 Z "
                                                        fill="var(--bs-success-bg-subtle)" fill-opacity="1"
                                                        stroke="var(--bs-success-bg-subtle)" stroke-opacity="1"
                                                        stroke-linecap="round" stroke-width="0" stroke-dasharray="0"
                                                        class="apexcharts-bar-area undefined" index="0"
                                                        clip-path="url(#gridRectBarMaskofgo1hvp)"
                                                        pathTo="M 74.4857142857143 122.731 L 74.4857142857143 30.546999999999993 C 74.4857142857143 28.046999999999993 76.9857142857143 25.546999999999993 79.4857142857143 25.546999999999993 L 79.4857142857143 25.546999999999993 C 81.5 25.546999999999993 83.51428571428572 28.046999999999993 83.51428571428572 30.546999999999993 L 83.51428571428572 122.731 C 83.51428571428572 125.231 81.01428571428572 127.731 78.51428571428572 127.731 L 78.51428571428572 127.731 C 76.5 127.731 74.4857142857143 125.231 74.4857142857143 122.731 Z "
                                                        pathFrom="M 74.4857142857143 127.731 L 74.4857142857143 127.731 L 83.51428571428572 127.731 L 83.51428571428572 127.731 L 83.51428571428572 127.731 L 83.51428571428572 127.731 L 83.51428571428572 127.731 L 74.4857142857143 127.731 Z"
                                                        cy="25.545999999999992" cx="97.05714285714286" j="3" val="80"
                                                        barHeight="102.184" barWidth="9.028571428571428"></path>
                                                    <path
                                                        d="M 97.05714285714286 122.731 L 97.05714285714286 5.000999999999986 C 97.05714285714286 2.500999999999986 99.55714285714286 0.0009999999999857892 102.05714285714286 0.0009999999999857892 L 102.05714285714286 0.0009999999999857892 C 104.07142857142858 0.0009999999999857892 106.08571428571429 2.5009999999999857 106.08571428571429 5.000999999999986 L 106.08571428571429 122.731 C 106.08571428571429 125.231 103.58571428571429 127.731 101.08571428571429 127.731 L 101.08571428571429 127.731 C 99.07142857142858 127.731 97.05714285714286 125.231 97.05714285714286 122.731 Z "
                                                        fill="var(--bs-success)" fill-opacity="1"
                                                        stroke="var(--bs-success)" stroke-opacity="1"
                                                        stroke-linecap="round" stroke-width="0" stroke-dasharray="0"
                                                        class="apexcharts-bar-area undefined" index="0"
                                                        clip-path="url(#gridRectBarMaskofgo1hvp)"
                                                        pathTo="M 97.05714285714286 122.731 L 97.05714285714286 5.000999999999986 C 97.05714285714286 2.500999999999986 99.55714285714286 0.0009999999999857892 102.05714285714286 0.0009999999999857892 L 102.05714285714286 0.0009999999999857892 C 104.07142857142858 0.0009999999999857892 106.08571428571429 2.5009999999999857 106.08571428571429 5.000999999999986 L 106.08571428571429 122.731 C 106.08571428571429 125.231 103.58571428571429 127.731 101.08571428571429 127.731 L 101.08571428571429 127.731 C 99.07142857142858 127.731 97.05714285714286 125.231 97.05714285714286 122.731 Z "
                                                        pathFrom="M 97.05714285714286 127.731 L 97.05714285714286 127.731 L 106.08571428571429 127.731 L 106.08571428571429 127.731 L 106.08571428571429 127.731 L 106.08571428571429 127.731 L 106.08571428571429 127.731 L 97.05714285714286 127.731 Z"
                                                        cy="-1.4210854715202004e-14" cx="119.62857142857143" j="4"
                                                        val="100" barHeight="127.73"
                                                        barWidth="9.028571428571428"></path>
                                                    <path
                                                        d="M 119.62857142857143 122.731 L 119.62857142857143 30.546999999999993 C 119.62857142857143 28.046999999999993 122.12857142857143 25.546999999999993 124.62857142857143 25.546999999999993 L 124.62857142857143 25.546999999999993 C 126.64285714285715 25.546999999999993 128.65714285714287 28.046999999999993 128.65714285714287 30.546999999999993 L 128.65714285714287 122.731 C 128.65714285714287 125.231 126.15714285714287 127.731 123.65714285714287 127.731 L 123.65714285714287 127.731 C 121.64285714285715 127.731 119.62857142857143 125.231 119.62857142857143 122.731 Z "
                                                        fill="var(--bs-success-bg-subtle)" fill-opacity="1"
                                                        stroke="var(--bs-success-bg-subtle)" stroke-opacity="1"
                                                        stroke-linecap="round" stroke-width="0" stroke-dasharray="0"
                                                        class="apexcharts-bar-area undefined" index="0"
                                                        clip-path="url(#gridRectBarMaskofgo1hvp)"
                                                        pathTo="M 119.62857142857143 122.731 L 119.62857142857143 30.546999999999993 C 119.62857142857143 28.046999999999993 122.12857142857143 25.546999999999993 124.62857142857143 25.546999999999993 L 124.62857142857143 25.546999999999993 C 126.64285714285715 25.546999999999993 128.65714285714287 28.046999999999993 128.65714285714287 30.546999999999993 L 128.65714285714287 122.731 C 128.65714285714287 125.231 126.15714285714287 127.731 123.65714285714287 127.731 L 123.65714285714287 127.731 C 121.64285714285715 127.731 119.62857142857143 125.231 119.62857142857143 122.731 Z "
                                                        pathFrom="M 119.62857142857143 127.731 L 119.62857142857143 127.731 L 128.65714285714287 127.731 L 128.65714285714287 127.731 L 128.65714285714287 127.731 L 128.65714285714287 127.731 L 128.65714285714287 127.731 L 119.62857142857143 127.731 Z"
                                                        cy="25.545999999999992" cx="142.20000000000002" j="5" val="80"
                                                        barHeight="102.184" barWidth="9.028571428571428"></path>
                                                    <path
                                                        d="M 142.20000000000002 122.731 L 142.20000000000002 56.09299999999998 C 142.20000000000002 53.59299999999998 144.70000000000002 51.09299999999998 147.20000000000002 51.09299999999998 L 147.20000000000002 51.09299999999998 C 149.21428571428572 51.09299999999998 151.22857142857146 53.59299999999998 151.22857142857146 56.09299999999998 L 151.22857142857146 122.731 C 151.22857142857146 125.231 148.72857142857146 127.731 146.22857142857146 127.731 L 146.22857142857146 127.731 C 144.21428571428572 127.731 142.20000000000002 125.231 142.20000000000002 122.731 Z "
                                                        fill="var(--bs-success-bg-subtle)" fill-opacity="1"
                                                        stroke="var(--bs-success-bg-subtle)" stroke-opacity="1"
                                                        stroke-linecap="round" stroke-width="0" stroke-dasharray="0"
                                                        class="apexcharts-bar-area undefined" index="0"
                                                        clip-path="url(#gridRectBarMaskofgo1hvp)"
                                                        pathTo="M 142.20000000000002 122.731 L 142.20000000000002 56.09299999999998 C 142.20000000000002 53.59299999999998 144.70000000000002 51.09299999999998 147.20000000000002 51.09299999999998 L 147.20000000000002 51.09299999999998 C 149.21428571428572 51.09299999999998 151.22857142857146 53.59299999999998 151.22857142857146 56.09299999999998 L 151.22857142857146 122.731 C 151.22857142857146 125.231 148.72857142857146 127.731 146.22857142857146 127.731 L 146.22857142857146 127.731 C 144.21428571428572 127.731 142.20000000000002 125.231 142.20000000000002 122.731 Z "
                                                        pathFrom="M 142.20000000000002 127.731 L 142.20000000000002 127.731 L 151.22857142857146 127.731 L 151.22857142857146 127.731 L 151.22857142857146 127.731 L 151.22857142857146 127.731 L 151.22857142857146 127.731 L 142.20000000000002 127.731 Z"
                                                        cy="51.091999999999985" cx="164.7714285714286" j="6" val="60"
                                                        barHeight="76.638" barWidth="9.028571428571428"></path>
                                                    <g class="apexcharts-bar-goals-markers">
                                                        <g className="apexcharts-bar-goals-groups"
                                                           class="apexcharts-hidden-element-shown"
                                                           clip-path="url(#gridRectMarkerMaskofgo1hvp)"></g>
                                                        <g className="apexcharts-bar-goals-groups"
                                                           class="apexcharts-hidden-element-shown"
                                                           clip-path="url(#gridRectMarkerMaskofgo1hvp)"></g>
                                                        <g className="apexcharts-bar-goals-groups"
                                                           class="apexcharts-hidden-element-shown"
                                                           clip-path="url(#gridRectMarkerMaskofgo1hvp)"></g>
                                                        <g className="apexcharts-bar-goals-groups"
                                                           class="apexcharts-hidden-element-shown"
                                                           clip-path="url(#gridRectMarkerMaskofgo1hvp)"></g>
                                                        <g className="apexcharts-bar-goals-groups"
                                                           class="apexcharts-hidden-element-shown"
                                                           clip-path="url(#gridRectMarkerMaskofgo1hvp)"></g>
                                                        <g className="apexcharts-bar-goals-groups"
                                                           class="apexcharts-hidden-element-shown"
                                                           clip-path="url(#gridRectMarkerMaskofgo1hvp)"></g>
                                                        <g className="apexcharts-bar-goals-groups"
                                                           class="apexcharts-hidden-element-shown"
                                                           clip-path="url(#gridRectMarkerMaskofgo1hvp)"></g>
                                                    </g>
                                                    <g class="apexcharts-bar-shadows apexcharts-hidden-element-shown"></g>
                                                </g>
                                                <g class="apexcharts-datalabels apexcharts-hidden-element-shown"
                                                   data:realIndex="0"></g>
                                            </g>
                                            <line x1="0" y1="0" x2="158" y2="0" stroke="#b6b6b6" stroke-dasharray="0"
                                                  stroke-width="1" stroke-linecap="butt"
                                                  class="apexcharts-ycrosshairs"></line>
                                            <line x1="0" y1="0" x2="158" y2="0" stroke="#b6b6b6" stroke-dasharray="0"
                                                  stroke-width="0" stroke-linecap="butt"
                                                  class="apexcharts-ycrosshairs-hidden"></line>
                                            <g class="apexcharts-xaxis" transform="translate(0, 0)">
                                                <g class="apexcharts-xaxis-texts-g" transform="translate(0, -4)">
                                                    <text x="11.285714285714286" y="155.73" text-anchor="middle"
                                                          dominant-baseline="auto" font-size="13px"
                                                          font-family="Helvetica, Arial, sans-serif" font-weight="400"
                                                          fill="var(--bs-secondary-color)"
                                                          class="apexcharts-text apexcharts-xaxis-label "
                                                          style="font-family: Helvetica, Arial, sans-serif;">
                                                        <tspan>M</tspan>
                                                        <title>M</title></text>
                                                    <text x="33.85714285714286" y="155.73" text-anchor="middle"
                                                          dominant-baseline="auto" font-size="13px"
                                                          font-family="Helvetica, Arial, sans-serif" font-weight="400"
                                                          fill="var(--bs-secondary-color)"
                                                          class="apexcharts-text apexcharts-xaxis-label "
                                                          style="font-family: Helvetica, Arial, sans-serif;">
                                                        <tspan>T</tspan>
                                                        <title>T</title></text>
                                                    <text x="56.42857142857144" y="155.73" text-anchor="middle"
                                                          dominant-baseline="auto" font-size="13px"
                                                          font-family="Helvetica, Arial, sans-serif" font-weight="400"
                                                          fill="var(--bs-secondary-color)"
                                                          class="apexcharts-text apexcharts-xaxis-label "
                                                          style="font-family: Helvetica, Arial, sans-serif;">
                                                        <tspan>W</tspan>
                                                        <title>W</title></text>
                                                    <text x="79" y="155.73" text-anchor="middle"
                                                          dominant-baseline="auto" font-size="13px"
                                                          font-family="Helvetica, Arial, sans-serif" font-weight="400"
                                                          fill="var(--bs-secondary-color)"
                                                          class="apexcharts-text apexcharts-xaxis-label "
                                                          style="font-family: Helvetica, Arial, sans-serif;">
                                                        <tspan>T</tspan>
                                                        <title>T</title></text>
                                                    <text x="101.57142857142857" y="155.73" text-anchor="middle"
                                                          dominant-baseline="auto" font-size="13px"
                                                          font-family="Helvetica, Arial, sans-serif" font-weight="400"
                                                          fill="var(--bs-secondary-color)"
                                                          class="apexcharts-text apexcharts-xaxis-label "
                                                          style="font-family: Helvetica, Arial, sans-serif;">
                                                        <tspan>F</tspan>
                                                        <title>F</title></text>
                                                    <text x="124.14285714285715" y="155.73" text-anchor="middle"
                                                          dominant-baseline="auto" font-size="13px"
                                                          font-family="Helvetica, Arial, sans-serif" font-weight="400"
                                                          fill="var(--bs-secondary-color)"
                                                          class="apexcharts-text apexcharts-xaxis-label "
                                                          style="font-family: Helvetica, Arial, sans-serif;">
                                                        <tspan>S</tspan>
                                                        <title>S</title></text>
                                                    <text x="146.71428571428575" y="155.73" text-anchor="middle"
                                                          dominant-baseline="auto" font-size="13px"
                                                          font-family="Helvetica, Arial, sans-serif" font-weight="400"
                                                          fill="var(--bs-secondary-color)"
                                                          class="apexcharts-text apexcharts-xaxis-label "
                                                          style="font-family: Helvetica, Arial, sans-serif;">
                                                        <tspan>S</tspan>
                                                        <title>S</title></text>
                                                </g>
                                            </g>
                                            <g class="apexcharts-yaxis-annotations"></g>
                                            <g class="apexcharts-xaxis-annotations"></g>
                                            <g class="apexcharts-point-annotations"></g>
                                        </g>
                                    </svg>
                                    <div class="apexcharts-tooltip apexcharts-theme-light"
                                         style="left: -32.1275px; top: 22.5px;">
                                        <div class="apexcharts-tooltip-title"
                                             style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">W
                                        </div>
                                        <div
                                            class="apexcharts-tooltip-series-group apexcharts-tooltip-series-group-0 apexcharts-active"
                                            style="order: 1; display: flex;"><span class="apexcharts-tooltip-marker"
                                                                                   style="background-color: var(--bs-success-bg-subtle);"></span>
                                            <div class="apexcharts-tooltip-text"
                                                 style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
                                                <div class="apexcharts-tooltip-y-group"><span
                                                        class="apexcharts-tooltip-text-y-label">series-1: </span><span
                                                        class="apexcharts-tooltip-text-y-value">60</span></div>
                                                <div class="apexcharts-tooltip-goals-group"><span
                                                        class="apexcharts-tooltip-text-goals-label"></span><span
                                                        class="apexcharts-tooltip-text-goals-value"></span></div>
                                                <div class="apexcharts-tooltip-z-group"><span
                                                        class="apexcharts-tooltip-text-z-label"></span><span
                                                        class="apexcharts-tooltip-text-z-value"></span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-light">
                                        <div class="apexcharts-yaxistooltip-text"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- review List Table -->
        <div class="card">
            <div class="card-datatable table-responsive">
            <div id="DataTables_Table_0_wrapper" class="dt-container dt-bootstrap5 dt-empty-footer">
                <!-- Bar -->
            <div class="row m-3 my-0 d-flex justify-content-between align-items-center">
                <!-- Search Section -->
                <div class="d-flex align-items-center p-2 col flex-grow-1 gap-3">
                    <div class="dt-search">
                        <input type="search" class="form-control" id="dt-search-0" placeholder="Search Review" aria-controls="DataTables_Table_0">
                        <label for="dt-search-0"></label>
                    </div>
                </div>

                <!-- Controls Section -->
                <div class="d-flex align-items-center col-auto gap-3">
                    <div class="review_filter">
                        <select class="form-select">
                            <option value="">All</option>
                            <option value="Pending" class="text-capitalize">Pending</option>
                            <option value="Published" class="text-capitalize">Published</option>
                        </select>
                    </div>
                    <div class="dt-buttons btn-group">
                        <button class="btn btn-primary dropdown-toggle" type="button" aria-haspopup="dialog" aria-expanded="false">
                            <i class="icon-base bx bx-export me-1"></i> Export
                        </button>
                    </div>
                </div>
            </div>

            <div class="justify-content-between dt-layout-table">
            <div
                class="d-md-flex justify-content-between align-items-center dt-layout-full table-responsive">
            <table class="datatables-review table border-top dataTable dtr-column"
                   id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info"
                   style="width: 100%;">
            <colgroup>
                <col data-dt-column="1" style="width: 58px;">
                <col data-dt-column="2" style="width: 293.789px;">
                <col data-dt-column="3" style="width: 256.438px;">
                <col data-dt-column="4" style="width: 433.742px;">
                <col data-dt-column="5" style="width: 130.617px;">
                <col data-dt-column="6" style="width: 120.438px;">
                <col data-dt-column="7" style="width: 94.9766px;">
            </colgroup>
            <thead>
            <tr>
                <th data-dt-column="0" class="control dt-orderable-none dtr-hidden" rowspan="1"
                    colspan="1" aria-label="" style="display: none;">
                    <span
                        class="dt-column-title"></span><span class="dt-column-order"></span></th>
                <th data-dt-column="1" rowspan="1" colspan="1" class="dt-select dt-orderable-none"
                    aria-label=""><span class="dt-column-title"></span>
                    <span
                        class="dt-column-order"></span>
                    <input class="form-check-input"
                           type="checkbox"
                           aria-label="Select all rows"></th>
                <th data-dt-column="2" rowspan="1" colspan="1"
                    class="dt-orderable-asc dt-orderable-desc dt-ordering-asc" aria-sort="ascending"
                    aria-label="Product: Activate to invert sorting" tabindex="0">
                    <span
                        class="dt-column-title" role="button">Product</span>
                    <span
                        class="dt-column-order"></span></th>
                <th class="text-nowrap dt-orderable-asc dt-orderable-desc" data-dt-column="3"
                    rowspan="1" colspan="1" aria-label="Reviewer: Activate to sort" tabindex="0">
                    <span class="dt-column-title" role="button">Reviewer</span>
                    <span
                        class="dt-column-order"></span></th>
                <th data-dt-column="4" rowspan="1" colspan="1" class="dt-orderable-none"
                    aria-label="Review"><span class="dt-column-title">Review</span>
                    <span
                        class="dt-column-order"></span></th>
                <th data-dt-column="5" rowspan="1" colspan="1"
                    class="dt-orderable-asc dt-orderable-desc" aria-label="Date: Activate to sort"
                    tabindex="0" style="">
                    <span class="dt-column-title"
                          role="button">Date</span>
                    <span
                        class="dt-column-order"></span></th>
                <th class="text-nowrap dt-orderable-asc dt-orderable-desc" data-dt-column="6"
                    rowspan="1" colspan="1" aria-label="Status: Activate to sort" tabindex="0"
                    style=""><span class="dt-column-title" role="button">Status</span>
                    <span
                        class="dt-column-order"></span></th>
                <th data-dt-column="7" rowspan="1" colspan="1" class="dt-orderable-none"
                    aria-label="Actions" style=""><span class="dt-column-title">Actions</span>
                    <span
                        class="dt-column-order"></span></th>
            </tr>
            </thead>
            <tbody>
            <tr class="dtr-expanded">
                <td class="control dtr-hidden" tabindex="0" style="display: none;"></td>
                <td class="dt-select">
                    <input aria-label="Select row" class="form-check-input"
                           type="checkbox"></td>
                <td class="sorting_1">
                    <div class="d-flex justify-content-start align-items-center customer-name">
                        <div class="avatar-wrapper">
                            <div class="avatar me-4 rounded-2 bg-label-secondary">
                                <img src="~/assets/img/icons/unicons/carrots.png"
                                     alt="Product-9" class="rounded">
                            </div>
                        </div>
                        <div class="d-flex flex-column">
                            <span class="fw-medium text-nowrap text-heading">Air Jordan</span>
                            <small>Air Jordan is a line of basketball shoes produced by Nike</small>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="d-flex justify-content-start align-items-center customer-name">
                        <div class="avatar-wrapper">
                            <div class="avatar avatar-sm me-4">
                                <img
                                    src="~/assets/img/avatars/5.png" alt="Avatar"
                                    class="rounded-circle"></div>
                        </div>
                        <div class="d-flex flex-column">
                            <a href="app-ecommerce-customer-details-overview.html">
                                <span
                                    class="fw-medium">Gisela Leppard</span></a>
                            <small class="text-nowrap">gleppard8@yandex.ru</small>
                        </div>
                    </div>
                </td>
                <td>
                    <div>
                        <div class="read-only-ratings raty mb-1" data-number="5" title="poor"
                             data-read-only="true" style="pointer-events: none;">
                            <img alt="1"
                                 src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' %3E%3Cpath fill='%23FFD700' d='M21.947 9.179a1 1 0 0 0-.868-.676l-5.701-.453l-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107l-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4l4.536-4.082c.297-.268.406-.686.278-1.065'/%3E%3C/svg%3E"
                                 title="poor">&nbsp;
                            <img
                                alt="2"
                                src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' %3E%3Cpath fill='%23FFD700' d='M21.947 9.179a1 1 0 0 0-.868-.676l-5.701-.453l-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107l-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4l4.536-4.082c.297-.268.406-.686.278-1.065'/%3E%3C/svg%3E"
                                title="poor">&nbsp;
                            <img alt="3"
                                 src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' %3E%3Cpath fill='rgb(228,230,232)' d='M21.947 9.179a1 1 0 0 0-.868-.676l-5.701-.453l-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107l-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4l4.536-4.082c.297-.268.406-.686.278-1.065'/%3E%3C/svg%3E"
                                 title="poor">&nbsp;
                            <img alt="4"
                                 src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' %3E%3Cpath fill='rgb(228,230,232)' d='M21.947 9.179a1 1 0 0 0-.868-.676l-5.701-.453l-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107l-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4l4.536-4.082c.297-.268.406-.686.278-1.065'/%3E%3C/svg%3E"
                                 title="poor">&nbsp;
                            <img
                                alt="5"
                                src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' %3E%3Cpath fill='rgb(228,230,232)' d='M21.947 9.179a1 1 0 0 0-.868-.676l-5.701-.453l-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107l-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4l4.536-4.082c.297-.268.406-.686.278-1.065'/%3E%3C/svg%3E"
                                title="poor">
                            <input name="score" type="hidden" value="2"
                                   readonly=""></div>
                        <p class="h6 mb-1 text-truncate">Ut mauris</p>
                        <small class="text-break">Fusce consequat. Nulla nisl. Nunc nisl.</small>
                    </div>
                </td>
                <td class="" style=""><span class="text-nowrap">Apr 20, 2020</span></td>
                <td class="" style=""><span class="badge bg-label-success" text-capitalize="">Published</span>
                </td>
                <td class="" style="">
                    <div class="text-xxl-center">
                        <div class="dropdown">
                            <a href="javascript:void(0);"
                               class="btn btn-icon dropdown-toggle hide-arrow p-0"
                               data-bs-toggle="dropdown">
                                <i class="icon-base bx bx-dots-vertical-rounded icon-md"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="javascript:void(0);" class="dropdown-item">Download</a>
                                <a href="javascript:void(0);" class="dropdown-item">Edit</a>
                                <a href="javascript:void(0);" class="dropdown-item">Duplicate</a>
                                <div class="dropdown-divider"></div>
                                <a href="javascript:void(0);"
                                   class="dropdown-item delete-record text-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="control dtr-hidden" tabindex="0" style="display: none;"></td>
                <td class="dt-select">
                    <input aria-label="Select row" class="form-check-input"
                           type="checkbox"></td>
                <td class="sorting_1">
                    <div class="d-flex justify-content-start align-items-center customer-name">
                        <div class="avatar-wrapper">
                            <div class="avatar me-4 rounded-2 bg-label-secondary">
                                <img src="~/assets/img/icons/unicons/tomato.png"
                                     alt="Product-13" class="rounded">
                            </div>
                        </div>
                        <div class="d-flex flex-column">
                            <span class="fw-medium text-nowrap text-heading">Amazon Fire TV</span>
                            <small>4K UHD smart TV, stream live TV without cable</small>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="d-flex justify-content-start align-items-center customer-name">
                        <div class="avatar-wrapper">
                            <div class="avatar avatar-sm me-4">
                                <span
                                    class="avatar-initial rounded-circle bg-label-danger">TV</span>
                            </div>
                        </div>
                        <div class="d-flex flex-column">
                            <a href="app-ecommerce-customer-details-overview.html">
                                <span
                                    class="fw-medium">Tracey Ventham</span></a>
                            <small class="text-nowrap">tventhamc@thetimes.co.uk</small>
                        </div>
                    </div>
                </td>
                <td>
                    <div>
                        <div class="read-only-ratings raty mb-1" data-number="5" title="regular"
                             data-read-only="true" style="pointer-events: none;">
                            <img alt="1"
                                 src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' %3E%3Cpath fill='%23FFD700' d='M21.947 9.179a1 1 0 0 0-.868-.676l-5.701-.453l-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107l-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4l4.536-4.082c.297-.268.406-.686.278-1.065'/%3E%3C/svg%3E"
                                 title="regular">&nbsp;
                            <img
                                alt="2"
                                src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' %3E%3Cpath fill='%23FFD700' d='M21.947 9.179a1 1 0 0 0-.868-.676l-5.701-.453l-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107l-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4l4.536-4.082c.297-.268.406-.686.278-1.065'/%3E%3C/svg%3E"
                                title="regular">&nbsp;
                            <img alt="3"
                                 src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' %3E%3Cpath fill='%23FFD700' d='M21.947 9.179a1 1 0 0 0-.868-.676l-5.701-.453l-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107l-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4l4.536-4.082c.297-.268.406-.686.278-1.065'/%3E%3C/svg%3E"
                                 title="regular">&nbsp;
                            <img alt="4"
                                 src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' %3E%3Cpath fill='rgb(228,230,232)' d='M21.947 9.179a1 1 0 0 0-.868-.676l-5.701-.453l-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107l-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4l4.536-4.082c.297-.268.406-.686.278-1.065'/%3E%3C/svg%3E"
                                 title="regular">&nbsp;
                            <img
                                alt="5"
                                src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' %3E%3Cpath fill='rgb(228,230,232)' d='M21.947 9.179a1 1 0 0 0-.868-.676l-5.701-.453l-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107l-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4l4.536-4.082c.297-.268.406-.686.278-1.065'/%3E%3C/svg%3E"
                                title="regular">
                            <input name="score" type="hidden" value="3"
                                   readonly=""></div>
                        <p class="h6 mb-1 text-truncate">At nunc commodo placerat praesent</p>
                        <small class="text-break">Aenean fermentum. Donec ut mauris eget massa
                            tempor convallis. Nulla neque libero, convallis eget, eleifend luctus,
                            ultricies eu, nibh.</small>
                    </div>
                </td>
                <td class="" style=""><span class="text-nowrap">Mar 17, 2021</span></td>
                <td class="" style=""><span class="badge bg-label-warning" text-capitalize="">Pending</span>
                </td>
                <td class="" style="">
                    <div class="text-xxl-center">
                        <div class="dropdown">
                            <a href="javascript:void(0);"
                               class="btn btn-icon dropdown-toggle hide-arrow p-0"
                               data-bs-toggle="dropdown">
                                <i class="icon-base bx bx-dots-vertical-rounded icon-md"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="javascript:void(0);" class="dropdown-item">Download</a>
                                <a href="javascript:void(0);" class="dropdown-item">Edit</a>
                                <a href="javascript:void(0);" class="dropdown-item">Duplicate</a>
                                <div class="dropdown-divider"></div>
                                <a href="javascript:void(0);"
                                   class="dropdown-item delete-record text-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="dtr-expanded">
                <td class="control dtr-hidden" tabindex="0" style="display: none;"></td>
                <td class="dt-select">
                    <input aria-label="Select row" class="form-check-input"
                           type="checkbox"></td>
                <td class="sorting_1">
                    <div class="d-flex justify-content-start align-items-center customer-name">
                        <div class="avatar-wrapper">
                            <div class="avatar me-4 rounded-2 bg-label-secondary">
                                <img src="~/assets/img/icons/unicons/carrots.png"
                                     alt="Product-9" class="rounded">
                            </div>
                        </div>
                        <div class="d-flex flex-column">
                            <span class="fw-medium text-nowrap text-heading">Air Jordan</span>
                            <small>Air Jordan is a line of basketball shoes produced by Nike</small>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="d-flex justify-content-start align-items-center customer-name">
                        <div class="avatar-wrapper">
                            <div class="avatar avatar-sm me-4">
                                <img
                                    src="~/assets/img/avatars/5.png" alt="Avatar"
                                    class="rounded-circle"></div>
                        </div>
                        <div class="d-flex flex-column">
                            <a href="app-ecommerce-customer-details-overview.html">
                                <span
                                    class="fw-medium">Gisela Leppard</span></a>
                            <small class="text-nowrap">gleppard8@yandex.ru</small>
                        </div>
                    </div>
                </td>
                <td>
                    <div>
                        <div class="read-only-ratings raty mb-1" data-number="5" title="poor"
                             data-read-only="true" style="pointer-events: none;">
                            <img alt="1"
                                 src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' %3E%3Cpath fill='%23FFD700' d='M21.947 9.179a1 1 0 0 0-.868-.676l-5.701-.453l-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107l-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4l4.536-4.082c.297-.268.406-.686.278-1.065'/%3E%3C/svg%3E"
                                 title="poor">&nbsp;
                            <img
                                alt="2"
                                src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' %3E%3Cpath fill='%23FFD700' d='M21.947 9.179a1 1 0 0 0-.868-.676l-5.701-.453l-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107l-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4l4.536-4.082c.297-.268.406-.686.278-1.065'/%3E%3C/svg%3E"
                                title="poor">&nbsp;
                            <img alt="3"
                                 src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' %3E%3Cpath fill='rgb(228,230,232)' d='M21.947 9.179a1 1 0 0 0-.868-.676l-5.701-.453l-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107l-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4l4.536-4.082c.297-.268.406-.686.278-1.065'/%3E%3C/svg%3E"
                                 title="poor">&nbsp;
                            <img alt="4"
                                 src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' %3E%3Cpath fill='rgb(228,230,232)' d='M21.947 9.179a1 1 0 0 0-.868-.676l-5.701-.453l-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107l-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4l4.536-4.082c.297-.268.406-.686.278-1.065'/%3E%3C/svg%3E"
                                 title="poor">&nbsp;
                            <img
                                alt="5"
                                src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' %3E%3Cpath fill='rgb(228,230,232)' d='M21.947 9.179a1 1 0 0 0-.868-.676l-5.701-.453l-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107l-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4l4.536-4.082c.297-.268.406-.686.278-1.065'/%3E%3C/svg%3E"
                                title="poor">
                            <input name="score" type="hidden" value="2"
                                   readonly=""></div>
                        <p class="h6 mb-1 text-truncate">Ut mauris</p>
                        <small class="text-break">Fusce consequat. Nulla nisl. Nunc nisl.</small>
                    </div>
                </td>
                <td class="" style=""><span class="text-nowrap">Apr 20, 2020</span></td>
                <td class="" style=""><span class="badge bg-label-success" text-capitalize="">Published</span>
                </td>
                <td class="" style="">
                    <div class="text-xxl-center">
                        <div class="dropdown">
                            <a href="javascript:void(0);"
                               class="btn btn-icon dropdown-toggle hide-arrow p-0"
                               data-bs-toggle="dropdown">
                                <i class="icon-base bx bx-dots-vertical-rounded icon-md"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="javascript:void(0);" class="dropdown-item">Download</a>
                                <a href="javascript:void(0);" class="dropdown-item">Edit</a>
                                <a href="javascript:void(0);" class="dropdown-item">Duplicate</a>
                                <div class="dropdown-divider"></div>
                                <a href="javascript:void(0);"
                                   class="dropdown-item delete-record text-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="control dtr-hidden" tabindex="0" style="display: none;"></td>
                <td class="dt-select">
                    <input aria-label="Select row" class="form-check-input"
                           type="checkbox"></td>
                <td class="sorting_1">
                    <div class="d-flex justify-content-start align-items-center customer-name">
                        <div class="avatar-wrapper">
                            <div class="avatar me-4 rounded-2 bg-label-secondary">
                                <img src="~/assets/img/icons/unicons/tomato.png"
                                     alt="Product-13" class="rounded">
                            </div>
                        </div>
                        <div class="d-flex flex-column">
                            <span class="fw-medium text-nowrap text-heading">Amazon Fire TV</span>
                            <small>4K UHD smart TV, stream live TV without cable</small>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="d-flex justify-content-start align-items-center customer-name">
                        <div class="avatar-wrapper">
                            <div class="avatar avatar-sm me-4">
                                <span
                                    class="avatar-initial rounded-circle bg-label-danger">TV</span>
                            </div>
                        </div>
                        <div class="d-flex flex-column">
                            <a href="app-ecommerce-customer-details-overview.html">
                                <span
                                    class="fw-medium">Tracey Ventham</span></a>
                            <small class="text-nowrap">tventhamc@thetimes.co.uk</small>
                        </div>
                    </div>
                </td>
                <td>
                    <div>
                        <div class="read-only-ratings raty mb-1" data-number="5" title="regular"
                             data-read-only="true" style="pointer-events: none;">
                            <img alt="1"
                                 src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' %3E%3Cpath fill='%23FFD700' d='M21.947 9.179a1 1 0 0 0-.868-.676l-5.701-.453l-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107l-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4l4.536-4.082c.297-.268.406-.686.278-1.065'/%3E%3C/svg%3E"
                                 title="regular">&nbsp;
                            <img
                                alt="2"
                                src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' %3E%3Cpath fill='%23FFD700' d='M21.947 9.179a1 1 0 0 0-.868-.676l-5.701-.453l-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107l-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4l4.536-4.082c.297-.268.406-.686.278-1.065'/%3E%3C/svg%3E"
                                title="regular">&nbsp;
                            <img alt="3"
                                 src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' %3E%3Cpath fill='%23FFD700' d='M21.947 9.179a1 1 0 0 0-.868-.676l-5.701-.453l-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107l-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4l4.536-4.082c.297-.268.406-.686.278-1.065'/%3E%3C/svg%3E"
                                 title="regular">&nbsp;
                            <img alt="4"
                                 src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' %3E%3Cpath fill='rgb(228,230,232)' d='M21.947 9.179a1 1 0 0 0-.868-.676l-5.701-.453l-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107l-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4l4.536-4.082c.297-.268.406-.686.278-1.065'/%3E%3C/svg%3E"
                                 title="regular">&nbsp;
                            <img
                                alt="5"
                                src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' %3E%3Cpath fill='rgb(228,230,232)' d='M21.947 9.179a1 1 0 0 0-.868-.676l-5.701-.453l-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107l-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4l4.536-4.082c.297-.268.406-.686.278-1.065'/%3E%3C/svg%3E"
                                title="regular">
                            <input name="score" type="hidden" value="3"
                                   readonly=""></div>
                        <p class="h6 mb-1 text-truncate">At nunc commodo placerat praesent</p>
                        <small class="text-break">Aenean fermentum. Donec ut mauris eget massa
                            tempor convallis. Nulla neque libero, convallis eget, eleifend luctus,
                            ultricies eu, nibh.</small>
                    </div>
                </td>
                <td class="" style=""><span class="text-nowrap">Mar 17, 2021</span></td>
                <td class="" style=""><span class="badge bg-label-warning" text-capitalize="">Pending</span>
                </td>
                <td class="" style="">
                    <div class="text-xxl-center">
                        <div class="dropdown">
                            <a href="javascript:void(0);"
                               class="btn btn-icon dropdown-toggle hide-arrow p-0"
                               data-bs-toggle="dropdown">
                                <i class="icon-base bx bx-dots-vertical-rounded icon-md"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="javascript:void(0);" class="dropdown-item">Download</a>
                                <a href="javascript:void(0);" class="dropdown-item">Edit</a>
                                <a href="javascript:void(0);" class="dropdown-item">Duplicate</a>
                                <div class="dropdown-divider"></div>
                                <a href="javascript:void(0);"
                                   class="dropdown-item delete-record text-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="dtr-expanded">
                <td class="control dtr-hidden" tabindex="0" style="display: none;"></td>
                <td class="dt-select">
                    <input aria-label="Select row" class="form-check-input"
                           type="checkbox"></td>
                <td class="sorting_1">
                    <div class="d-flex justify-content-start align-items-center customer-name">
                        <div class="avatar-wrapper">
                            <div class="avatar me-4 rounded-2 bg-label-secondary">
                                <img src="~/assets/img/icons/unicons/carrots.png"
                                     alt="Product-9" class="rounded">
                            </div>
                        </div>
                        <div class="d-flex flex-column">
                            <span class="fw-medium text-nowrap text-heading">Air Jordan</span>
                            <small>Air Jordan is a line of basketball shoes produced by Nike</small>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="d-flex justify-content-start align-items-center customer-name">
                        <div class="avatar-wrapper">
                            <div class="avatar avatar-sm me-4">
                                <img
                                    src="~/assets/img/avatars/5.png" alt="Avatar"
                                    class="rounded-circle"></div>
                        </div>
                        <div class="d-flex flex-column">
                            <a href="app-ecommerce-customer-details-overview.html">
                                <span
                                    class="fw-medium">Gisela Leppard</span></a>
                            <small class="text-nowrap">gleppard8@yandex.ru</small>
                        </div>
                    </div>
                </td>
                <td>
                    <div>
                        <div class="read-only-ratings raty mb-1" data-number="5" title="poor"
                             data-read-only="true" style="pointer-events: none;">
                            <img alt="1"
                                 src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' %3E%3Cpath fill='%23FFD700' d='M21.947 9.179a1 1 0 0 0-.868-.676l-5.701-.453l-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107l-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4l4.536-4.082c.297-.268.406-.686.278-1.065'/%3E%3C/svg%3E"
                                 title="poor">&nbsp;
                            <img
                                alt="2"
                                src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' %3E%3Cpath fill='%23FFD700' d='M21.947 9.179a1 1 0 0 0-.868-.676l-5.701-.453l-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107l-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4l4.536-4.082c.297-.268.406-.686.278-1.065'/%3E%3C/svg%3E"
                                title="poor">&nbsp;
                            <img alt="3"
                                 src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' %3E%3Cpath fill='rgb(228,230,232)' d='M21.947 9.179a1 1 0 0 0-.868-.676l-5.701-.453l-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107l-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4l4.536-4.082c.297-.268.406-.686.278-1.065'/%3E%3C/svg%3E"
                                 title="poor">&nbsp;
                            <img alt="4"
                                 src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' %3E%3Cpath fill='rgb(228,230,232)' d='M21.947 9.179a1 1 0 0 0-.868-.676l-5.701-.453l-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107l-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4l4.536-4.082c.297-.268.406-.686.278-1.065'/%3E%3C/svg%3E"
                                 title="poor">&nbsp;
                            <img
                                alt="5"
                                src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' %3E%3Cpath fill='rgb(228,230,232)' d='M21.947 9.179a1 1 0 0 0-.868-.676l-5.701-.453l-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107l-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4l4.536-4.082c.297-.268.406-.686.278-1.065'/%3E%3C/svg%3E"
                                title="poor">
                            <input name="score" type="hidden" value="2"
                                   readonly=""></div>
                        <p class="h6 mb-1 text-truncate">Ut mauris</p>
                        <small class="text-break">Fusce consequat. Nulla nisl. Nunc nisl.</small>
                    </div>
                </td>
                <td class="" style=""><span class="text-nowrap">Apr 20, 2020</span></td>
                <td class="" style=""><span class="badge bg-label-success" text-capitalize="">Published</span>
                </td>
                <td class="" style="">
                    <div class="text-xxl-center">
                        <div class="dropdown">
                            <a href="javascript:void(0);"
                               class="btn btn-icon dropdown-toggle hide-arrow p-0"
                               data-bs-toggle="dropdown">
                                <i class="icon-base bx bx-dots-vertical-rounded icon-md"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="javascript:void(0);" class="dropdown-item">Download</a>
                                <a href="javascript:void(0);" class="dropdown-item">Edit</a>
                                <a href="javascript:void(0);" class="dropdown-item">Duplicate</a>
                                <div class="dropdown-divider"></div>
                                <a href="javascript:void(0);"
                                   class="dropdown-item delete-record text-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="control dtr-hidden" tabindex="0" style="display: none;"></td>
                <td class="dt-select">
                    <input aria-label="Select row" class="form-check-input"
                           type="checkbox"></td>
                <td class="sorting_1">
                    <div class="d-flex justify-content-start align-items-center customer-name">
                        <div class="avatar-wrapper">
                            <div class="avatar me-4 rounded-2 bg-label-secondary">
                                <img src="~/assets/img/icons/unicons/tomato.png"
                                     alt="Product-13" class="rounded">
                            </div>
                        </div>
                        <div class="d-flex flex-column">
                            <span class="fw-medium text-nowrap text-heading">Amazon Fire TV</span>
                            <small>4K UHD smart TV, stream live TV without cable</small>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="d-flex justify-content-start align-items-center customer-name">
                        <div class="avatar-wrapper">
                            <div class="avatar avatar-sm me-4">
                                <span
                                    class="avatar-initial rounded-circle bg-label-danger">TV</span>
                            </div>
                        </div>
                        <div class="d-flex flex-column">
                            <a href="app-ecommerce-customer-details-overview.html">
                                <span
                                    class="fw-medium">Tracey Ventham</span></a>
                            <small class="text-nowrap">tventhamc@thetimes.co.uk</small>
                        </div>
                    </div>
                </td>
                <td>
                    <div>
                        <div class="read-only-ratings raty mb-1" data-number="5" title="regular"
                             data-read-only="true" style="pointer-events: none;">
                            <img alt="1"
                                 src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' %3E%3Cpath fill='%23FFD700' d='M21.947 9.179a1 1 0 0 0-.868-.676l-5.701-.453l-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107l-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4l4.536-4.082c.297-.268.406-.686.278-1.065'/%3E%3C/svg%3E"
                                 title="regular">&nbsp;
                            <img
                                alt="2"
                                src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' %3E%3Cpath fill='%23FFD700' d='M21.947 9.179a1 1 0 0 0-.868-.676l-5.701-.453l-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107l-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4l4.536-4.082c.297-.268.406-.686.278-1.065'/%3E%3C/svg%3E"
                                title="regular">&nbsp;
                            <img alt="3"
                                 src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' %3E%3Cpath fill='%23FFD700' d='M21.947 9.179a1 1 0 0 0-.868-.676l-5.701-.453l-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107l-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4l4.536-4.082c.297-.268.406-.686.278-1.065'/%3E%3C/svg%3E"
                                 title="regular">&nbsp;
                            <img alt="4"
                                 src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' %3E%3Cpath fill='rgb(228,230,232)' d='M21.947 9.179a1 1 0 0 0-.868-.676l-5.701-.453l-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107l-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4l4.536-4.082c.297-.268.406-.686.278-1.065'/%3E%3C/svg%3E"
                                 title="regular">&nbsp;
                            <img
                                alt="5"
                                src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' %3E%3Cpath fill='rgb(228,230,232)' d='M21.947 9.179a1 1 0 0 0-.868-.676l-5.701-.453l-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107l-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4l4.536-4.082c.297-.268.406-.686.278-1.065'/%3E%3C/svg%3E"
                                title="regular">
                            <input name="score" type="hidden" value="3"
                                   readonly=""></div>
                        <p class="h6 mb-1 text-truncate">At nunc commodo placerat praesent</p>
                        <small class="text-break">Aenean fermentum. Donec ut mauris eget massa
                            tempor convallis. Nulla neque libero, convallis eget, eleifend luctus,
                            ultricies eu, nibh.</small>
                    </div>
                </td>
                <td class="" style=""><span class="text-nowrap">Mar 17, 2021</span></td>
                <td class="" style=""><span class="badge bg-label-warning" text-capitalize="">Pending</span>
                </td>
                <td class="" style="">
                    <div class="text-xxl-center">
                        <div class="dropdown">
                            <a href="javascript:void(0);"
                               class="btn btn-icon dropdown-toggle hide-arrow p-0"
                               data-bs-toggle="dropdown">
                                <i class="icon-base bx bx-dots-vertical-rounded icon-md"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="javascript:void(0);" class="dropdown-item">Download</a>
                                <a href="javascript:void(0);" class="dropdown-item">Edit</a>
                                <a href="javascript:void(0);" class="dropdown-item">Duplicate</a>
                                <div class="dropdown-divider"></div>
                                <a href="javascript:void(0);"
                                   class="dropdown-item delete-record text-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
            </table>
            </div>
            </div>
            </div>
            </div>
        </div>
    </div>
    <!-- / Content -->
</div>